Question 1:
Create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays

In [16]:
## using grearter

import numpy as np  
  
a = np.array([4,2]) 
b = np.array([6,2]) 
  
print("Is a greater than b : ", a > b)

Is a greater than b :  [False False]

In [17]:
## using greater than equal to
import numpy as np  
  
a = np.array([4,2]) 
b = np.array([6,2]) 
  
print("Is a greater than  equal to b : ", a >= b)

Is a greater than  equal to b :  [False  True]

In [19]:
##using less

import numpy as np  
  
a = np.array([4,2]) 
b = np.array([6,2]) 
  
print("Is a less than b : ", a < b)

Is a less than b :  [ True False]

In [20]:
##using less than equal to  

import numpy as np   
  
a = np.array([4,2]) 
b = np.array([6,2]) 
  
print("Is a less than equal to  b : ", a <= b)

Is a less than equal to  b :  [ True  True]

Question 2:
Write a NumPy program to create an array of 10 zeros,10 ones, 10 fives

In [21]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)
array=np.ones(10)
print("An array of 10 ones:")
print(array)
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
An array of 10 ones:
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

Question 3:
Write a NumPy program to compute sum of all elements, sum of each column and sum of each row of a
given array

In [24]:
import numpy as np
x = np.array([[9,8],[25,8]])
print("Original array:")
print(x)
print("Sum of all elements:")
print(np.sum(x))
print("Sum of each column:")
print(np.sum(x, axis=0))
print("Sum of each row:")
print(np.sum(x, axis=1))

Original array:
[[ 9  8]
 [25  8]]
Sum of all elements:
50
Sum of each column:
[34 16]
Sum of each row:
[17 33]

Question 4:
Write a NumPy program to add, subtract, multiply, divide arguments element-wise.

In [45]:
import numpy as np
a = np.array([[34,8],[25,8]])
b = np.array([[20,10],[15,7]])
x=(a,b)

print("Original array:")
print(x)
print("Add:")
print(np.add(a,b))
print("Subtract:")
print(np.subtract(a,b))
print("Multiply:")
print(np.multiply(a,b))
print("Divide:")
print(np.divide(a,b))

Original array:
(array([[34,  8],
       [25,  8]]), array([[20, 10],
       [15,  7]]))
Add:
[[54 18]
 [40 15]]
Subtract:
[[14 -2]
 [10  1]]
Multiply:
[[680  80]
 [375  56]]
Divide:
[[1.7        0.8       ]
 [1.66666667 1.14285714]]

Question 5:
Write a NumPy program to compute the trigonometric sine, cosine and tangent array of angles given in
degree.

In [46]:
import numpy as np
print("sine: array of angles given in degrees")
print(np.sin(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))
print("cosine: array of angles given in degrees")
print(np.cos(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))
print("tangent: array of angles given in degrees")
print(np.tan(np.array((0., 30., 45., 60., 90.)) * np.pi / 180.))

sine: array of angles given in degrees
[0.         0.5        0.70710678 0.8660254  1.        ]
cosine: array of angles given in degrees
[1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]
tangent: array of angles given in degrees
[0.00000000e+00 5.77350269e-01 1.00000000e+00 1.73205081e+00
 1.63312394e+16]

Question 6:
Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the
index labels

In [53]:
import pandas as a
df = a.DataFrame([[2, 8], [29, 8.88]])
df

    0     1
0   2  8.00
1  29  8.88

Question 7:
Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [77]:
import pandas as pd
import numpy as np

match_data  = {'name':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
        'score': [50, 39, 40, 78,26, 20, 14, 4, 8, 69],
        
        'Half century': ['yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes']}
labels = ['Kaif ', 'Dhoni', 'virat', 'James', 'Irfan', 'Michael', 'Dravid', 'Lara', 'Kevin', 'Smith']

df = pd.DataFrame(match_data , index=labels)
print("Select specific columns and rows:")
print(df.iloc[[0, 3, 7, 9], [1, 2]])

Select specific columns and rows:
       score Half century
Kaif      50          yes
James     78          yes
Lara       4           no
Smith     69          yes

Question 8:
Write a Pandas program to join the two given dataframes along rows and assign all data.

In [81]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'lkey': ['imad', 'sanket', 'mohsin', 'jojo','taib','bunty'],
                    'value': [2, 3, 5, 7,9,11]})
df2 = pd.DataFrame({'rkey': ['imad', 'sanket', 'mohsin', 'jojo','talib','bunty'],
                    'value': [7, 8, 9, 10,6,5]})
df1

     lkey  value
0    imad      2
1  sanket      3
2  mohsin      5
3    jojo      7
4    taib      9
5   bunty     11

Question 9:
Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

In [89]:
import pandas as pd 

import numpy as np 

dict = {'First Score':[np.nan, 90, 89, 95], 
		'Second Score': [30, 45, 56, 100], 
		'Third Score':[80, 40, np.nan, 98]} 

# creating a dataframe using dictionary 
df = pd.DataFrame(dict) 

# using notnull() function 
df.notnull()

   First Score  Second Score  Third Score
0        False          True         True
1         True          True         True
2         True          True        False
3         True          True         True

Question 10:
Write a Pandas program to create and display a one-dimensional array-like object containing an array of
data.

In [87]:
import numpy as np
l = [6, 13.32, 100, 36.32]
print("Original List:",l)
a = np.array(l)
print("One-dimensional NumPy array: ",a)

Original List: [6, 13.32, 100, 36.32]
One-dimensional NumPy array:  [  6.    13.32 100.    36.32]